body {
    background-image: url(./images/background.jpg);
    background-size: auto;
}

#bio-image {
    height: 400px;
    width: 450px;
}

.bio {
    line-height: 35px;
    font-size: 16px;
    ;
}


#port {
    margin-bottom: 25px;
    /* padding-left: 15px; */
    position: relative;
}

.photoPort {
    position: relative;
}

.caption {
    position: absolute;
    width: 300px;
    height: 60px;
    background-color: rgb(61, 177, 198);
    z-index: 2;
    top: 60%;
    padding-top: 15px;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

footer {
    border-top: rgb(61, 177, 198) 10px;
}
  